In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('01_Contract_data.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [7]:
df1.sort_values(by='Amount_Month') #데이터의 오름차순 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
35768,35770,66784964,멤버십,멤버십2유형,전문매장H,2019-02-07,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
43022,43024,66792946,멤버십,멤버십2유형,전문매장H,2020-06-30,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
49993,49995,66796388,멤버십,멤버십2유형,전문매장H,2020-03-25,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
45246,45248,66793779,멤버십,멤버십2유형,전문매장H,2019-07-16,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회

In [8]:
df1.sort_values(by='Amount_Month', ascending=False) #데이터의 내림차순 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45304,45306,66793756,멤버십,멤버십2유형,전문매장H,2019-10-07,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,0,없음,여자,NaN,NaN
50428,50430,66797402,멤버십,멤버십2유형,전문매장H,2019-12-27,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
45302,45304,66793342,멤버십,멤버십2유형,전문매장H,2019-04-03,36,무통장,DES-1,54603,개인,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
41153,41155,66790864,멤버십,멤버십2유형,전문매장H,2019-02-16,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
39373,39375,66788207,멤버십,멤버십2유형,전문매장H,2020-05-11,36,무통장,DES-1,54603,개인,NaN,제주도,제주도,계약확정,0,없음,여자,NaN,NaN

In [13]:
df1.sort_values(by=['Amount_Month','Age'], ascending=False)
#두 개 이상의 항목에 대해 내림차순 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [15]:
#Amount_Month에 대해 내림차순 정렬 후, Overdue_count에 대해 오름차순 정렬
df1.sort_values(by=['Amount_Month','Overdue_count'], ascending=[False,True])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
19774,19776,25740247,렌탈,프로모션계약,전단홍보,2020-01-17,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
42145,42147,66791083,멤버십,멤버십2유형,전문매장H,2019-10-28,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,1,있음,여자,NaN,NaN

In [18]:
#Amount_Month값이 높고, 연령이 높은 상위 100명의 고객 명단
df2 = df1.sort_values(by=['Amount_Month','Age'], ascending=False).head(100)

In [19]:
df2

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46925,46927,66794997,렌탈,프로모션계약,영업방판,2019-08-31,39,CMS,MMC,185700,개인,38.0,충청도,충청도,계약확정,0,없음,남자,7.0,국민은행
50019,50021,66798682,렌탈,프로모션계약,영업방판,2019-02-23,39,카드이체,MMC,185700,개인,38.0,경기도,경기도,계약확정,0,없음,남자,7.0,현대카드
50261,50263,66798549,렌탈,프로모션계약,영업방판,2019-10-24,39,카드이체,MMC,185700,개인,38.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,NH농협카드
7584,7585,66763648,렌탈,프로모션계약,영업방판,2019-07-13,39,카드이체,MMC,185700,개인,37.0,경상도,경상도,계약확정,0,없음,여자,5.0,롯데카드
50381,50383,66798387,렌탈,프로모션계약,영업방판,2019-02-24,39,카드이체,MMC,185700,개인,37.0,경기도,경기도,계약확정,0,없음,남자,3.0,롯데카드

In [21]:
# 4개의 항목 추출 -> Term 값에 대해 내림차순 정렬 -> 상위 50개 데이터 확인ㄴ
df1[['Sales_Type','Term','Product_Type','Overdue_count']]\
.sort_values(by='Term', ascending=False).head(50)

      Sales_Type  Term Product_Type  Overdue_count
0             렌탈    60        DES-1              0
31847         렌탈    60        DES-1              0
31849         렌탈    60        DES-1              0
31850         렌탈    60        DES-1              0
31851         렌탈    60        DES-1             11
31852         렌탈    60        DES-1              0
31853         렌탈    60        DES-2              0
31854         렌탈    60        DES-1              0
31855         렌탈    60        DES-1              0
31857         렌탈    60        DES-1              0
31858         렌탈    60        DES-2              0
31859         렌탈    60        DES-1              0
31860         렌탈    60        DES-1              0
31861         렌탈    60        DES-2              0
31862         렌탈    60        DES-1              0
31863         렌탈    60        DES-1              0
31864         렌탈    60       DES-3A              0
31865         렌탈    60        DES-2              0
31866         렌탈    60        DES-1              0
31867         렌탈    60        DES-1              0
31868         렌탈    60        DES-2              0
31848         렌탈    60        DES-2              0
31846         렌탈    60        DES-1              0
31870         렌탈    60        DES-1              0
31845         렌탈    60        DES-1              0
31823         렌탈    60        DES-2              0
31824         렌탈    60        DES-1              0
31825         렌탈    60        DES-1              0
31826         렌탈    60        DES-2              0
31828         렌탈    60        DES-1              0
31829         렌탈    60        DES-1              0
31830         렌탈    60        DES-1              0
31831         렌탈    60        DES-2              0
31832         렌탈    60        DES-1              0
31833         렌탈    60        DES-1              0
31834         렌탈    60        DES-1              0
31835         렌탈    60        DES-1              0
31837         렌탈    60        DES-1              0
31838         렌탈    60        DES-2              0
31840         렌탈    60        DES-1              0
31841         렌탈    60        DES-1              0
31842         렌탈    60        DES-1              0
31843         렌탈    60        DES-1              0
31844         렌탈    60        DES-1              0
31869         렌탈    60        DES-1              0
31871         렌탈    60        DES-1              0
31924         렌탈    60        DES-1              0
31898         렌탈    60        DES-1              0
31900         렌탈    60        DES-1              0
31901         렌탈    60        DES-1              0

In [25]:
df1[['Amount_Month','Overdue_count','Credit_Rank','Age']].sort_values(by='Credit_Rank', ascending=False)

       Amount_Month  Overdue_count  Credit_Rank   Age
32922         96900              0         10.0  42.0
43160         96900              0         10.0  56.0
42863         96900              0         10.0   NaN
30132         96900              0         10.0  51.0
17491        124200              3         10.0  52.0
...             ...            ...          ...   ...
51290         54603              0          NaN   NaN
51291        102900             10          NaN   NaN
51292         56979              0          NaN   NaN
51294         90900              0          NaN  43.0
51296         96900              0          NaN  47.0

[51301 rows x 4 columns]