In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('01_Contract_Data.csv')

In [6]:
df1['Datetime(dt)'] = pd.to_datetime(df1['Datetime'])

In [32]:
df1['주문요일'] = df1['Datetime(dt)'].dt.dayofweek

In [33]:
df1['주문요일']

0        0
1        3
2        3
3        0
4        4
        ..
51296    4
51297    0
51298    0
51299    3
51300    2
Name: 주문요일, Length: 51301, dtype: int64

In [34]:
df1.pivot_table(index=['주문요일','Product_Type'], values='Amount_Month', aggfunc='sum')

                   Amount_Month
주문요일 Product_Type
0    DES-1            540517839
     DES-2            112428060
     DES-3A            28965600
     DES-R4             4967400
     ERA                9247800
     MMC                2659800
1    DES-1            607328556
     DES-2            130079850
     DES-3A            30982350
     DES-R4             6651300
     ERA               14400000
     MMC                3156900
2    DES-1            594365877
     DES-2            124890540
     DES-3A            33135450
     DES-R4             7184700
     ERA               11690700
     MMC                3618300
3    DES-1            615978612
     DES-2            136978050
     DES-3A            34292460
     DES-R4             7416900
     ERA               10898400
     MMC                4762500
4    DES-1            542749254
     DES-2            116072160
     DES-3A            28468500
     DES-R4             7143600
     ERA               13280400
     MMC                3402600
5    DES-1            406091973
     DES-2             87389670
     DES-3A            21167550
     DES-R4             4903800
     ERA                9570000
     MMC                3216900
6    DES-1            388083615
     DES-2             79818960
     DES-3A            20073150
     DES-R4             4060800
     ERA                8028300
     MMC                1917000

In [35]:
df3 = df1.pivot_table(index=['주문요일','Product_Type'], values='Amount_Month', aggfunc='sum').sort_values(by='주문요일')

In [39]:
df3.rename({0 : 'Monday',
            1 : 'Tuesday',
            2 : 'Wednesday',
            3 : 'Thursday',
            4 : 'Friday',
            5 : 'Saturday',
            6 : 'Sunday'}, axis='index')

                        Amount_Month
주문요일      Product_Type
Monday    DES-1            540517839
          DES-2            112428060
          DES-3A            28965600
          DES-R4             4967400
          ERA                9247800
          MMC                2659800
Tuesday   MMC                3156900
          DES-R4             6651300
          ERA               14400000
          DES-2            130079850
          DES-1            607328556
          DES-3A            30982350
Wednesday DES-1            594365877
          DES-2            124890540
          DES-3A            33135450
          DES-R4             7184700
          ERA               11690700
          MMC                3618300
Thursday  ERA               10898400
          MMC                4762500
          DES-R4             7416900
          DES-3A            34292460
          DES-2            136978050
          DES-1            615978612
Friday    DES-1            542749254
          DES-2            116072160
          DES-3A            28468500
          DES-R4             7143600
          ERA               13280400
          MMC                3402600
Saturday  MMC                3216900
          ERA                9570000
          DES-R4             4903800
          DES-2             87389670
          DES-1            406091973
          DES-3A            21167550
Sunday    ERA                8028300
          DES-1            388083615
          DES-2             79818960
          DES-3A            20073150
          DES-R4             4060800
          MMC                1917000